PORT=5000

MONGODB_URI=mongodb://pritialapure_db_user:nQ96i5lkmraWZJ4w@ac-d6yf7zv-shard-00-00.skcm76p.mongodb.net:27017,ac-d6yf7zv-shard-00-01.skcm76p.mongodb.net:27017,ac-d6yf7zv-shard-00-02.skcm76p.mongodb.net:27017/nxtbuild?ssl=true&replicaSet=atlas-3ddrif-shard-0&authSource=admin&retryWrites=true&w=majority

JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

GEMINI_API_KEY=your_key
CLIENT_URL=http://localhost:5173